<!DOCTYPE html>
<html lang="{{ .Site.LanguageCode }}">

  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ block "title" . }}{{ .Title }} | {{ .Site.Title }}{{ end }}</title>
    {{ partial "meta/styles" . }}
  </head>

  <body>

    <header>
    {{ block "header" . }}
      <h1>{{ .Title }}</h1>
      {{ partial "menu.html" . }}
    {{ end }}
    </header>

    <main>
    {{ block "main" . }}
      {{ .Content }}
    {{ end }}
    </main>

    <footer>
    <hr>
    {{ block "footer" . }}
      {{ partial "license.html" . }}
    {{ end }}
    </footer>

  </body>

</html>