<!DOCTYPE html>
<html lang="{{ .Site.Language.Lang }}">

  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {{ partial "meta/favicon" . }}
    {{ partial "meta/title" . }}
    {{ partial "meta/keywords" . }}
    {{ partial "meta/rsslink" . }}
    {{ partial "meta/permalink" . }}
    {{ partial "meta/relinks" . }}
    {{ partial "meta/robots" . }}
    {{ partial "meta/generator" . }}
    {{ partial "meta/styles" . }}
  </head>

  <body>

    <header>
    {{ block "header" . }}
      {{ partial "menu" . }}
      <h1>{{ .Title }}</h1>
    {{ end }}
    </header>

    <main>
    {{ block "main" . }}
      {{ .Content }}
    {{ end -}}
    </main>

    <footer>
      {{ block "footer" . -}}
        {{ partial "license" . }}
        {{ partial "generator" . }}
      {{ end -}}
    </footer>

  </body>
</html>
