{{ define "header" }}
<h1>
  {{ with ($.Site.GetPage "taxonomyTerm" (.Data.Plural) ) }}
    <a href="{{ .RelPermalink }}" title="Show all {{ .Data.Plural }}">
      <svg class="icon"><use xlink:href="#list"/></svg>
      {{ .Data.Singular | humanize | title }}
    </a>:
  {{ end }}
  {{ .Title }}
  {{ partial "menu.html" . }}
</h1>
{{ end }}

{{ define "main" }}
  {{ range .Paginator.Pages }}
    {{ partial "summary.html" . }}
  {{ end }}
{{ end }}

{{ define "footer" }}
  {{ partial "pagination.html" . }}
  <hr>
  {{ partial "license.html" . }}
{{ end }}
