/* fade-in intro */
@keyframes intro {
    0% { opacity: 0; }
  100% { opacity: 1; }
}
html {
  animation: intro 0.4s both;
  animation-delay: 0.1s;
}

/* padding adjustments */
.main {
  padding: 20px 10px;
}
pre {
  padding: 1rem;
}
.hack h2 {
  margin-top: 2em;
}
.hack header, .hack h1 {
  width: 100%;
  display: block;
}

/* external link symbol */
a {
  display: inline-block;
}
a[href*="://"]::before,
a[rel*="external"] {
  /* directly include material icon (urlencoded) */
  content: '' url("data:image/svg+xml,%3Csvg%20xmlns=%22http://www.w3.org/2000/svg%22%20viewBox=%220%200%2024%2024%22%20class=%22icon-external%22%3E%3Cpath%20d=%22M10.59,13.41C11,13.8%2011,14.44%2010.59,14.83C10.2,15.22%209.56,15.22%209.17,14.83C7.22,12.88%207.22,9.71%209.17,7.76V7.76L12.71,4.22C14.66,2.27%2017.83,2.27%2019.78,4.22C21.73,6.17%2021.73,9.34%2019.78,11.29L18.29,12.78C18.3,11.96%2018.17,11.14%2017.89,10.36L18.36,9.88C19.54,8.71%2019.54,6.81%2018.36,5.64C17.19,4.46%2015.29,4.46%2014.12,5.64L10.59,9.17C9.41,10.34%209.41,12.24%2010.59,13.41M13.41,9.17C13.8,8.78%2014.44,8.78%2014.83,9.17C16.78,11.12%2016.78,14.29%2014.83,16.24V16.24L11.29,19.78C9.34,21.73%206.17,21.73%204.22,19.78C2.27,17.83%202.27,14.66%204.22,12.71L5.71,11.22C5.7,12.04%205.83,12.86%206.11,13.65L5.64,14.12C4.46,15.29%204.46,17.19%205.64,18.36C6.81,19.54%208.71,19.54%209.88,18.36L13.41,14.83C14.59,13.66%2014.59,11.76%2013.41,10.59C13,10.2%2013,9.56%2013.41,9.17Z%22%20/%3E%3C/svg%3E");
  margin-right: .2em;
  width: 1em;
  display: inherit;
  position: relative;
  bottom: -2px;
}
a:hover {
  border-radius: 3px;
  padding: 2px;
  margin: -2px;
}

/* svg icons */
svg.icon {
  width: 1.2em;
  height: 1.2em;
  margin-bottom: -0.2rem;
  fill: currentColor;
}
.byline svg.icon {
  margin-right: -0.5em;
}

/* fontsize adjustment for screen */
@media screen and (min-width: 768px) {
  html {
    font-size: 0.9em;
  }
  .container {
    max-width: 50rem;
  }
}

/* wrapping in <pre> blocks */
pre {
  white-space: pre-wrap;
  word-wrap: break-word;
}

/* lighter font-weight for code */
.hack code {
  font-weight: 500;
  color: #00bcd4;
}

/* spacing in summary */
.summary {
  padding: 1rem;
  margin: 1.5rem 0;
}
.summary, summary {
  padding-bottom: 1em;
}
.summary p, .summary blockquote, .summary h2 {
  margin-top: 0.5em;
  margin-bottom: 0.5em;
}
/* styling for field shortcode */
.form-control {
  display: table;
  white-space: pre-line;
  padding-left: 10px;
  border: 2px solid #ccc;
  padding-bottom: 1.8em;
}

/* colors */
details summary {
  color: #00bcd4;
}
.meta span {
  color: #a1c659;
}

/* center images */
img {
  max-width: 90%;
  display: block;
  margin: 0 auto;
  box-shadow: 3px 3px 8px #808080;
}
