<article class="summary">

  <!-- page title and metadata -->
  <header>
    
    <h2>
      <a href="{{ .RelPermalink }}">{{ .Title }}</a>
    </h2>
    
    <!-- metadata if post -->
    {{ if eq .Type "post" }}
    {{ partial "post/metadata.html" . }}
    {{ end }}
    
  </header>
  
  <!-- tl;dr: / description from frontmatter -->
  {{ partial "post/description.html" . }}
  
  <!-- abbreviated content -->
  <div>
    {{ .Summary }}
    {{ if .Truncated }}
      <span class="readmore"><a itemprop="url" href="{{ .RelPermalink }}">read on &raquo;</a></span>
    {{ end }}
  </div>

</article>
